.toolbar {
  margin-bottom: 1rem;
}

.button {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  height: 40px;
  padding: 5px 30px 5px 30px;
  margin-right: 5px;
}

.selectedButton {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  height: 40px;
  padding: 5px 30px 5px 30px;
  margin-right: 5px;
}