.App {
  display: flex;
  height: 100vh;
  padding: 1rem;
  }

.info {
  height: 30px;
  width: 500px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

